.userContainer {
    margin: 1.5vw;
    border: 1px solid #ccc;
    float: left;
    width: 13vw;
    height: 13vw;
}

.userPhoto {
    width: 6vw;
    padding: 1vw;
    border-radius: 200px;
}

.userDescription {
    padding: 1vw;
    text-align: center;
}

.selectedPage {
    font-weight: bold;
}

.user__content__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.button__container {
    width: 40px;
}

@media (max-width: 500px) {

}

